@font-face {
    font-family: "Trajan Pro 3";
    src: url("../assets/fonts/Trajan.ttf");
}

*{
    font-family: 'Trajan Pro 3', serif;
}
body::-webkit-scrollbar {
    display: none;
}
body::-webkit-scrollbar-thumb {
    background-color: #4c4c6a;
    border-radius: 2px;
}

html,body{
    margin: 0;
    padding: 0;
}

.logo{
    display: flex;
    gap: 30px;
    align-items: center;
}
:root{
    --second-banner: 220px;
}
.logo__icon{
    height: 87px;
    width: 87px;
}

.banner{
    height: calc(100vh - 30px);
}

.first-banner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
}

.first-banner__background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    opacity: 1;
    transition: 0.7s;
    transform: translateY(0);

}

.first-banner__background__block{
    height: 100%;
    width: 100%;
    background: radial-gradient(ellipse at top, rgba(252,253,255,1) -2%, rgb(81 192 226) 63%, rgba(9,9,121,1) 110%);
    position: absolute;
    z-index: 2;
    opacity: 1;
    transform: translateY(0);
    mix-blend-mode: hard-light;
    transition: 0.2s ease-out 1s;
}

.upBack .first-banner__background__block{
    opacity: 0;
    transition: 0.3s ease-out;
    transform: translateY(10px);
}
.upBack .first-banner__background{
    opacity: 0;
    transition: 1.5s;
    transform: translateY(-150px);
}
.first-banner__title{
    font-style: normal;
    font-weight: 700;
    font-size: 280px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #3C6CC9;
    position: absolute;
    width: 100%;
    margin-top: 10%;
}

.first-banner__blur{
    position: absolute;
    right: 0;
    background: rgba(37, 164, 255, 0.1);
    z-index: 5;
    backdrop-filter: blur(16px);
    height: calc(80vh - 180px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 60px;
}

.first-banner__blur button{
    border: 1px dashed white;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
    background: rgba(0,0,0,0);
    padding: 15px;

}
.first-banner__blur h2{
    font-style: normal;
    font-weight: 200;
    font-size: 36px;
    line-height: 46px;
    max-width: 490px;
    color: #FFFFFF;
}
.first-banner__mob-button{
    display: none;
}

.banner.second-banner {
    position: relative;
    overflow-y: visible;
}

.second-banner::after{
    content: '';
    width: 100%;
    height: 76px;
    bottom: var(--second-banner);
    left: 0;
    position: absolute;
    background: rgb(252,253,255);
    background: linear-gradient(180deg, rgba(252,253,255,0) 0%, rgba(255,255,255,1) 100%);
    z-index: 100;
}

.second-banner__grass-earth__earth{
    position: absolute;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    bottom: var(--second-banner);

}

.second-banner__grass-earth__grass{
    position: absolute;
    bottom: calc(var(--second-banner) + 5px);
    left: 32%;
    z-index: 2;
    width: 35%;
}

.second-banner__grass-earth__bottle{
    position: absolute;
    bottom: calc(var(--second-banner) + 30px);
    height: 85%;
    left: 42%;
    z-index: 1;
    transform: translateY(30%) rotate(0);
    transition: 1.5s;
    clip-path: inset(0 0 300px 0);
}

.second-banner__grass-earth__bottle.seeBottle{
    transform: translateY(0) rotate(-11deg);
    transition: 0.8s linear;
    clip-path: inset(0 0 100px 0);
}

.third-banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    height: var(--second-banner);
    width: 100%;
}

.main-button{
    border: 1px solid black;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: #3C3953;
    padding: 30px;
    background: rgba(0,0,0,0);
    margin: 20px 0;
}

.fourth-banner,
.five-banner
{
    height: 100%;
    width: 100%;
    text-align: center;
    background-size: cover;
    position: relative;
}

.fourth-banner{
    background: url("../assets/images/banners/banner4.png") no-repeat;
    background-size: cover;

}
.five-banner{
    background: url("../assets/images/banners/banner4ref.png") no-repeat;
    background-size: cover;
    overflow: hidden;
    backface-visibility: hidden;
}


.fourth-banner__text,
.five-banner__text
{
    /*backdrop-filter: blur(10px);*/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.five-banner__text
{
    backdrop-filter: brightness(30%);
}

.fourth-banner__text p,
.five-banner__text p
{
    max-width: 500px;
}

.five-banner__text
{
    color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.five-banner button{
    padding: 20px;
    color:white;
    border:1px solid white;
}


.fourth-banner::before{
    content:'';
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(252,253,255,0) 0%, rgba(255,255,255,1) 100%);
}

.fourth-banner__text{
    opacity: 0.2;
    transition: 1.5s linear;
    transform: scale(0.5) ;
}

.toSee > .fourth-banner__text{
    transform: scale(1);
    opacity: 1;
    backdrop-filter: blur(10px);
    transition: all 1s ease-out, backdrop-filter 3s ease-out;
}


.fourth-banner::before{
    transition: 1.5s 0.4s;
    opacity: 0;
    content: '';
    position: absolute;
    top: 0;
    background: #000213;
    width: 100%;
    height: 100%;
}

.intoTheDark.fourth-banner::before{
    transition: 0.3s 0.2s linear;
    opacity: 1;
}


.five-banner::before{
    transition: 0.5s linear;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 69, 121);
    background: linear-gradient(0deg, rgba(0,69,121,1) 0%, rgba(0,6,67,1) 100%);
    width: 100%;
    height: 0;
    mix-blend-mode: overlay;
}

.intoTheDark.five-banner::before{
    transition: 0.5s 0.5s ease-out;
    width: 100%;
    height: 100%;
}



footer{
    background: #0D4F9F;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    position: fixed;
    bottom: 0;
    width: calc(100% - 40px);
    z-index: 6;
}

.myfooter__socials {
    display: flex;
    align-items: center;
    gap: 10px;
}

.myfooter__socials h1{
    font-style: normal;
    font-weight: 200;
    font-size: 12px;
    color: #FFFFFF;
}

.myfooter__contacts{
    display: flex;
    gap: 10px;
}
.header-navbar .myfooter__contacts{
    display: none;
}
.myfooter__contacts a{
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
    color: #FFFFFF;
    text-decoration: none;
}

.myfooter__socials__icons{
    display: flex;
    gap: 15px;
}
.myfooter__socials__icons img{
    height: 14px;
    width: 14px;
    cursor: pointer;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    width: calc(100% - 40px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.logo-cancel{
    display: none;
}

header .logo__icon{
    height: 40px;
    width: 40px;
}

header .logo__text{
    height: 20px;
}

header a{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    color: #0D4F9F;
    text-decoration: none;
}

.burger{
    height: 20px;
    width: 30px;
    position: relative;
    margin-right: 10px;
    display: none;
    z-index: 5;
}


.burger span,
.burger:before,
.burger:after
{
    height: 3px;
    width: 100%;
    background-color: #0d509f;
    display: block;
    position: absolute;
    border-radius: 2px;
    transition: transform 0.3s, color 0.2s;
}
.burger span{
    top: calc(50% - 3px/2);
}
.burger:after
{
    bottom: -1px;
    content: '';
}

.burger:before
{
    top: -1px;
    content: '';
}
.burger.active span{
    opacity: 0;
    background-color: white;
}
.burger.active:before{
    transform: translateY(8px) rotate(45deg);
    background-color: white;
}
.burger.active:after{
    transform: translateY(-11px) rotate(-45deg);
    background-color: white;
}

.stream-block{
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    top: 70px;
    overflow: hidden;
}

.header-navbar{
    display: flex;
    gap: 30px;
    position: relative;
}

.stream-frame{
    width: calc(100% - 300px);
    height: 100%;
}

/*///////////////chat/////////*/

::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #4c4c6a;
    border-radius: 2px;
}
.chat-input-svg{
    width:24px;
    height:24px;
}

.chatbox {
    width: 300px;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
    position: fixed;
    right: 0;
    top: 70px;
}
.chat-window {
    flex: auto;
    max-height: calc(100% - 60px);
    background: #2f323b;
    overflow: auto;
}
.chat-input {
    flex: 0 0 auto;
    height: 60px;
    background: #40434e;
    border-top: 1px solid #2671ff;
    box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}
.chat-input input {
    height: 59px;
    line-height: 60px;
    outline: 0 none;
    border: none;
    width: calc(100% - 60px);
    color: white;
    text-indent: 10px;
    font-size: 12pt;
    padding: 0;
    background: #40434e;
}
.chat-input button {
    float: right;
    outline: 0 none;
    border: none;
    background: rgba(255,255,255,.25);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    padding: 2px 0 0 0;
    margin: 10px;
    transition: all 0.15s ease-in-out;
}
.chat-input input[good] + button {
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
    background: #2671ff;
}
.chat-input input[good] + button:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.chat-input input[good] + button path {
    fill: white;
}

.msg-container {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 0;
}
.msg-box {
    display: flex;
    background: #5b5e6c;
    padding: 10px 10px 0 10px;
    border-radius: 0 6px 6px 0;
    max-width: 80%;
    width: auto;
    float: left;
    box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
}
.user-img {
    display: inline-block;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background: #2671ff;
    margin: 0 10px 10px 0;
}
.flr {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px);
}
.messages {
    flex: 1 0 auto;
}
.msg {
    display: inline-block;
    font-size: 11pt;
    line-height: 13pt;
    color: rgba(255,255,255,.7);
    margin: 0 0 4px 0;
}
.msg:first-of-type {
    margin-top: 8px;
}
.timestamp {
    color: rgba(0,0,0,.38);
    font-size: 8pt;
    margin-bottom: 10px;
}
.username {
    margin-right: 3px;
}
.posttime {
    margin-left: 3px;
}
.msg-self .msg-box {
    border-radius: 6px 0 0 6px;
    background: #2671ff;
    float: right;
}
.msg-self .user-img {
    margin: 0 0 10px 10px;
}
.msg-self .msg {
    text-align: right;
}
.msg-self .timestamp {
    text-align: right;
}